transformers
sentencepiece
numpy
pandas
torch
metaflow
loguru
huggingface_hub
openai
# Test Frameworks
testcontainers
requests
chardet
nose2
# database Dependencies
sqlalchemy
psycopg2
cx_Oracle

# Web Framework
streamlit
